@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\000031}}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000311}}
body {
  line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000315}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000319}}
blockquote, q {
  quotes: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000323}}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000328}}
a {
  outline: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000332}}
:focus {
  outline: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000336}}
ins {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000340}}
del {
  text-decoration: line-through; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000344}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000349}}
.wrapword {
  word-wrap: break-word; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000353}}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000362}}
.clearfix {
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000366}}
html[xmlns] .clearfix {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000370}}
* html .clearfix {
  height: 1%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000374}}
.center {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000378}}
.constrain-x {
  overflow-x: auto;
  overflow-y: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000383}}
.constrain-y {
  overflow-y: auto;
  overflow-x: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000388}}
.tier {
  display: block !important;
  clear: both !important;
  margin-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\0000392}}
  .tier:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003102}}
.stack {
  display: block !important;
  clear: both !important;
  zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003106}}
  .stack:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0 !important;
    height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003116}}
.box-fix {
  display: block;
  clear: both;
  zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003120}}
  .box-fix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

/*.column {
  float: left;
  display: inline;
  zoom: 1;
  position: relative; 
}

.column:after {
  content: ".";
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 0; 
}*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003145}}
.column-empty {
  padding: 0;
  margin: 0 0 1px 0;
  line-height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003151}}
.align-lt {
  float: left !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003155}}
.align-rt {
  float: right !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003159}}
.text-lt {
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003163}}
.text-rt {
  text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003165}}
  .text-rt .button {
    float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003170}}
.inline {
  display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003174}}
.last {
  margin-right: 0 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003178}}
ul.horiz li, ol.horiz li, dl.horiz dt, dl.horiz dd {
  display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003182}}
ul.horiz-float li, dl.horiz-float dt, dl.horiz-float dd {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003188}}
.page-box {
  text-align: left;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003193}}
.page-head, .page-body, .page-foot {
  text-align: left;
  display: block !important;
  clear: both !important;
  zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003201}}
.page-box:after, .page-head:after, .page-body:after, .page-foot:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003212}}
.w-box:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003220}}
.w-head {
  clear: both;
  display: block;
  zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003226}}
.w-head-c {
  zoom: 1;
  text-indent: 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003231}}
.w-body-c {
  margin: 0;
  zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003236}}
.w-body-c p.end {
  margin-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003240}}
.w-foot {
  overflow: hidden;
  zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003245}}
.w-foot-c {
  zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003249}}
.w-box:after, .w-head:after, .w-head-c:after, .w-body:after, .w-body-c:after, .w-foot:after, .w-foot-c:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003258}}
br.w-foot {
  margin-bottom: -1px;
  line-height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003263}}
.w-head-empty, .w-foot-empty {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003267}}
.c-head {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003271}}
.c-head:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003280}}
.c-foot {
  clear: both;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/bhulku\/\.netbeans\/7\.0\/config\/GF3\/domain1\/docroot\/ProductRoadMap\/sass\/core\.scss}line{font-family:\00003285}}
br.c-foot {
  height: 0;
  margin-bottom: -1px;
  clear: both;
  line-height: 0;
  margin: 0; }
