<div class="roadmapFrame">
    <a ng-href="#/">&laquo; Back</a>
    <h2>{{ roadmap.name }}</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>Theme</th>
            <th ng-repeat="period in periods">
                {{ period.formatted }}
            </th>
        </tr>
        <tbody>
            <tr ng-repeat="(theme_index, theme) in roadmap.themes">
                <td>{{ theme.name }} <a ng-click="deleteTheme(theme_index)"><i class="icon-remove icon-red"></i></a></td>
                <td ng-repeat="period in periods">
                    <ul class="unstyled">
                        <li ng-repeat="(story_index, story) in theme.stories | storyFilter:period">
                            <ul>
                                <li ng-repeat="(detail_index, detail) in story.details">
                                    {{ detail.text }}
                                    <a ng-click="deleteDetail(story, detail_index)"><i class="icon-remove icon-subtle"></i></a>
                                </li>
                            </ul>
                        </li>
                        <li ng-show="newDetail[theme.name + period.formatted]">
                            <form class="form-inline">
                                <input class="input-mini" ng-model="newDetail[theme.name + period.formatted].text" type="text" />
                                <button class="btn btn-primary btn-mini" ng-click="saveDetail(theme, period)">Save</button>
                            </form>
                        </li>
                        <button class="btn btn-mini" ng-click="createDetail(theme, period)"><i class="icon-plus"></i></button>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table> 
    <div ng-show="theme">
        <form class=form-inline">
            <input ng-model="theme.name" />
            <button class="btn" ng-click="saveTheme()"><i class="icon-plus"></i>Add</button>
        </form>
    </div>
    <span><button class="btn" ng-click="createTheme()"><i class="icon-plus"></i> Add Theme</button></span>
</div>

